/* src/styles/Header.css */

.header {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #000000;
  width: 100%; /* 헤더가 전체 너비를 차지하도록 설정 */
  padding: 0; /* 내부 패딩 제거 */
  margin: 0; /* 외부 마진 제거 */
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  width: 100px; /* 로고 크기를 조정합니다. */
  height: 100px;
  margin-right: 20px; /* 로고와 텍스트 사이의 간격을 조정합니다. */
}

.header_Sub {
  display: flex;
  flex-direction: row; /* 세로 방향으로 요소들을 배열 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
}

.player-song {
  background-color: #ff640a;
  z-index: 15;
  width: 80px;
  height: 40px;
  margin-right: 5px;
  color: #000000;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: bold;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  display: flex;
}

.team-song {
  background-color: #ff640a;
  z-index: 15;
  width: 80px;
  height: 40px;
  margin-right: 5px;
  color: #000000;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: bold;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  display: flex;
}

.situation-song {
  background-color: #ff640a;
  z-index: 15;
  width: 80px;
  height: 40px;
  margin-right: 5px;
  color: #000000;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: bold;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  display: flex;
}
